/* font import */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,300&display=swap');




/* universal border-box */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/*******************************
MAIN LAYOUT: header, .info-sect, .quote-sect, .signup-sect, footer
*******************************/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 16px;
}

button {
    background: #636363;
    border: 0;
    border-radius: 5px;
    color: #f9faf8;
    padding: 8px 32px;
    font-weight: bold;
}

/* cursive elements */
h1, h2, h3, .header-logo, .header-links {
    font-family: 'Homemade Apple', cursive;
}


/*** HEADER & FOOTER LINKS ***/
.header-links a, footer a {
    color: #e5e7eb;
    text-decoration: none;
}

footer a {
    text-decoration: underline;
}


/*******************************
HEADER: header-nav, header-hero
*******************************/

header {
    background: #2b2b2b;
    color: #f9faf8;
}

.header-nav, .hero {
    margin: 16px 0 85px;
    display: flex;
    align-items: center;
}

/*** HEADER NAVIGATION ***/

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    gap: 16px;
}


/*** HEADER HERO ***/

.hero-text {
    padding: 0 16px 0 0;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    line-height: 72px;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 5px;
}

.hero img {
    width: 500px;
    height: auto;
}


/*******************************
INFO SECTION: h2, info-cards
*******************************/

h2 {
    margin-bottom: 56px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.info-cards {
    margin: 16px 0 56px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.info-card {
    flex: 1;
    text-align: center;
}

.info-card img {
    width: 150px;
    height: auto;
}

.info-card img {
    border: 2px solid #636363;
    border-radius: 5px;
}

.info-cards a {
    color: #636363;
}



/*******************************
QUOTE SECTION
*******************************/

.quote-sect {
    background: #e5e7eb;
}

.quote-sect blockquote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-sect .cite {
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}


/*******************************
SIGN UP SECTION
*******************************/

.signup-box {
    background: #636363;
    border-radius: 10px;
    color: #f9faf8;
    padding: 48px 100px;
    margin: 72px 0;
    display: flex;
    align-items: center;
}

.signup-button {
    margin-left: auto;
}

.signup-text h3 {
    margin: 0;
}

.signup-text p {
    color: #e5e7eb;
    margin: 5px 0 0;
}

.signup-button button {
    border: 2px solid #f9faf8;
}


/*******************************
FOOTER
*******************************/

footer {
    background: #2b2b2b;
    color: #e5e7eb;
    text-align: center;
}


